In [ ]:
import plotly.express as px
import plotly.graph_objects as go
import plotly.figure_factory as ff

from plotly.subplots import make_subplots

import folium


import plotly.express as px
from plotly.subplots import make_subplots


import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

from datetime import timedelta

In [ ]:
df=pd.read_csv('//content//country_daywise.csv')

In [ ]:
df

,Date,Country,Confirmed,Deaths,Recovered,Active,New Cases,New Recovered,New Deaths
0,23-01-2020,Afghanistan,0,0,0,0,0,0,0
1,24-01-2020,Afghanistan,0,0,0,0,0,0,0
2,25-01-2020,Afghanistan,0,0,0,0,0,0,0
3,26-01-2020,Afghanistan,0,0,0,0,0,0,0
4,27-01-2020,Afghanistan,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
150277,15-02-2022,Zimbabwe,231603,5374,0,226229,0,0,0
150278,16-02-2022,Zimbabwe,232213,5379,0,226834,610,0,5
150279,17-02-2022,Zimbabwe,232598,5381,0,227217,385,0,2
150280,18-02-2022,Zimbabwe,233030,5385,0,227645,432,0,4
150281,22-01-2020,Afghanistan,0,0,0,0,0,0,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150282 entries, 0 to 150281
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           150282 non-null  object
 1   Country        150282 non-null  object
 2   Confirmed      150282 non-null  int64
 3   Deaths         150282 non-null  int64
 4   Recovered      150282 non-null  int64
 5   Active         150282 non-null  int64
 6   New Cases      150282 non-null  int64
 7   New Recovered  150282 non-null  int64
 8   New Deaths     150282 non-null  int64
dtypes: int64(7), object(2)
memory usage: 10.3+ MB

In [ ]:
confirmed=df.groupby('Date').sum()['Confirmed'].reset_index()
confirmed

           Date  Confirmed
0    01-01-2021   84332710
1    01-01-2022  289847451
2    01-02-2020      12038
3    01-02-2021  103755123
4    01-02-2022  382154874
..          ...        ...
755  31-08-2021  218276305
756  31-10-2020   46138526
757  31-10-2021  247427191
758  31-12-2020   83760090
759  31-12-2021  288650698

[760 rows x 2 columns]

In [ ]:
recovered=df.groupby('Date').sum()['Recovered'].reset_index()
recovered

           Date  Recovered
0    2020-01-23         32
1    2020-01-24         39
2    2020-01-25         42
3    2020-01-26         56
4    2020-01-27         65
..          ...        ...
754  2022-02-15          0
755  2022-02-16          0
756  2022-02-17          0
757  2022-02-18          0
758  2022-02-19          0

[759 rows x 2 columns]

In [ ]:
df.query('Country == "US"')

              Date Country  Confirmed  ...  New Cases  New Recovered  New Deaths
138897  2020-01-23      US          1  ...          0              0           0
138898  2020-01-24      US          2  ...          1              0           0
138899  2020-01-25      US          2  ...          0              0           0
138900  2020-01-26      US          5  ...          3              0           0
138901  2020-01-27      US          5  ...          0              0           0
...            ...     ...        ...  ...        ...            ...         ...
139651  2022-02-15      US   78059110  ...     115055              0        2595
139652  2022-02-16      US   78174363  ...     115253              0        3083
139653  2022-02-17      US   78275698  ...     101335              0        3223
139654  2022-02-18      US   78423525  ...     147827              0        2459
139655  2022-02-19      US   78457081  ...      33556              0         630

[759 rows x 9 columns]

In [ ]:
fig = go.Figure()
fig.add_trace(go.Scatter(x=confirmed['Date'],y= confirmed['Confirmed'], mode= 'lines+maekers'))
fig.show()